@import "../../../../styles/global.scss";

.header-user-profile-wrapper {
  display: flex;
  column-gap: 6px;

  img {
    width: 30px;
    padding: 6px 8px;

    &:hover {
      cursor: pointer;
      outline: 1px solid $main-text-color;

      border-radius: 12px;
    }
  }

  .user-cart {
    position: relative;

    & > div {
      padding: 2px 5px;

      position: absolute;
      bottom: 0;
      left: 0;

      border-radius: 50%;

      background-color: $sub-theme-color;
      color: $sub-text-color;

      font-weight: bold;
    }
  }
}
