@import "../../styles/global.scss";

footer {
  margin-top: auto;
  padding: 24px 0 64px 0;

  border-top: 5px double $sub-theme-color;

  color: $sub-theme-color;
  font-weight: bold;

  nav {
    display: flex;
    column-gap: 24px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > div {
    margin-top: 16px;

    display: flex;
    align-items: center;
    column-gap: 6px;

    letter-spacing: 1px;
  }
}
